@model IEnumerable<InventTool.BL.Herramental>

@{
    ViewBag.Title = "Herramental";
}


<h2>Herramental</h2>

@*@using (Html.BeginForm("Buscar", "Herramental", FormMethod.Post))
    {
        <div>
            @Html.TextBox("buscar", null, new { @class = "form-control-sm" })
            <button type="submit" class="btn-dark">Buscar</button>
        </div>
    }*@



<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.js"></script>

<br />


@if (Model != null)
{


<table id="tablaHerramental" class="display table-striped dt-responsive stripe row-border compact">

    <thead>
        <tr>
            <th data-order='0'>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th data-order='1'>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            @*<th data-order='2'>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>*@
            <th data-order='3'>
                @Html.DisplayNameFor(model => model.Medida)
            </th>
            <th data-order='4'>
                @Html.DisplayNameFor(model => model.Serie)
            </th>
            @*<th data-order='5'>
                    @Html.DisplayNameFor(model => model.Modelo)
                </th>*@
            <th data-order='6'>
                @Html.DisplayNameFor(model => model.Existencia)
            </th>
            <th data-order='7'>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            @*<th data-order='8'>
                    @Html.DisplayNameFor(model => model.UrlImagen)
                </th>*@
            <th data-order='9'>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th data-order='10'>
                Opciones
            </th>


        </tr>


    </thead>

   
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)

                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Descripcion)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Medida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Serie)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Existencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ubicacion.Area)
                </td>
                @*<td>
                    <img src="@item.UrlImagen" alt="@item.Descripcion" style="width:64px; height:auto;" />
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Activo)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                    @Html.ActionLink("Detalle", "Detalle", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id }) |
                    @Html.ActionLink("Mover", "Mover", new { id = item.Id })
                </td>
            </tr>
        }
        </tbody>
        

    

</table>
}

<p>
</p>

<div>
    @Html.ActionLink("Nuevo Herramental", "Crear") |
    @Html.ActionLink("Ir a Home", "Index", "Home")
</div>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.13.1/sb-1.4.0/sp-2.1.0/datatables.min.js"></script>

@section scripts{

    <script>

        //document.addEventListener("DOMContentLoaded", function () {
        //    $("#tablaHerramental").DataTable(
        //    );
        //});
        //$(document).ready(function () {
        //    $("#tablaHerramental").dataTable(

        $(document).on("ready", function () { table(); });

        var table = $('#tablaHerramental').DataTable(
            {



                //"ajax":
                //{
                //    "url": "/Herramental/json",
                //    "type": "Post",
                //    "dataType": "json"
                //},


                //"pageLength": 10,
                //"filter": true,
                //"responsivePriority": 1,
                //"data": null,

                //"columns": [

                //    { "data": "Descripcion", "name": "Descripcion", "autoWidth": true },
                //    { "data": "CategoriaId", "name": "CategoriaId", "autoWidth": true },
                //    { "data": "Precio", "name": "Precio", "autoWidth": true },
                //    { "data": "Medida", "name": "Medida", "autoWidth": true },
                //    { "data": "Serie", "name": "Serie", "autoWidth": true },
                //    { "data": "Modelo", "name": "Modelo", "autoWidth": true },
                //    { "data": "Existencia", "name": "Existencia", "autoWidth": true },
                //    { "data": "UbicacionId", "name": "UbicacionId", "autoWidth": true },
                //    { "data": "UrlImagen", "name": "UrlImagen", "autoWidth": true },
                //    { "data": "Activo", "name": "Activo", "autoWidth": true },
                //    { "data": "Opciones", "name": "Opciones", "autoWidth": true },

                //],


                //"Processing": true,
                //"serverSide": true,

                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resulados",
                    "sEmptyTable": "Ningun dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(Filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Ultimo",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                    }

                }



            });</script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

}