@model IEnumerable<InventTool.BL.Ubicacion>

@{
    ViewBag.Title = "Ubicaciones";
}

<b style="font-size  : 40px">Ubicacion</b>
<br>
<br>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }, new { @class = "btn btn-info btn-sm", style = "color: white;" })
                @Html.ActionLink("Detalle", "Detalle", new { id = item.Id }, new { @class = "btn btn-success btn-sm", style = "color: white;" })
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id }, new { @class = "btn btn-danger btn-sm", style = "color: white;" })

            </td>
        </tr>
    }

</table>
<p class="btn btn-default btn-sm">
    @Html.ActionLink("Nueva Area", "Crear")
</p>