
@model InventTool.BL.DescargaDetalle

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>


<h3>&iquest;Seguro que desea Eliminar este registro?</h3>
<p>
    <h4>DescargaDetalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>

        </dt>
            Descarga No:
        <dd>
            @Html.DisplayFor(model => model.DescargaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Herramental)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Herramental.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.DescargaId)

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" />
        </div>
        <p>
            @Html.ActionLink("Regresar a la lista", "Index", new {id = Model.DescargaId })
        </p>
    }
