@model InventTool.BL.ToolUsers

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>toolUsers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p class="btn btn-default btn-sm" , style="color: #3366BB;">
    @Html.ActionLink("Editar", "Editar", new { id = Model.Id })
</p>
<p class="btn btn-default btn-sm" , style="color: #3366BB;">
    @Html.ActionLink("Regresar", "Index")
</p>
